.orange {
    background-color: hsl(25, 97%, 53%);
}

.gray {
    background-color: hsl(217, 12%, 63%);
}

.rating {
    border-radius: 100%;
    border: none;
    width: 50px;
    height: 50px;
    color: white;
    background-color:hsl(216, 12%, 54%) ;
}

.rating:hover {
    cursor: pointer;
}

