
.submit {
    background-color: hsl(25, 97%, 53%);
    width: 450px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-top: 40px;
    color: white;
}

.submit:hover {
 background-color: white;
 color:  hsl(25, 97%, 53%);
 cursor: pointer;
}